<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.EventMapper">
    <select id="searchEvents" resultType="com.example.demo.model.Event">
        SELECT * FROM event
        <where>
            <if test="eventName != null and eventName != ''">
                AND event_name LIKE CONCAT('%', #{eventName}, '%')
            </if>
            <if test="eventDate != null">
                AND event_date = #{eventDate}
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
        </where>
    </select>
</mapper>